html, body {
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: white;
    margin-bottom: 70px;
}

img {
    width: 100%;
}

h1 {
    margin: 0;
}

.centeredContent {
    width: 33%;
    margin: auto;
}

.headerLetters {
    font-family: 'Patua One', cursive;
    padding: 20px 0;
    font-size: 18px;
}

.postContainer {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-bottom: 70px;
}

.postHeaderContainer {
    display: flex;
}

.postHeaderContainer div {
    width: 50%;
}

.postHeaderDateContainer {
    text-align: right;
    color: gray;
}

.postHeaderTitleContainer {
    font-size: 13px;
    padding-left: 10px;
}

.postHeaderDateContainer p {
    padding-right: 10px;
}

.postCommentContainer {
    padding: 5px 40px
}


