html, body {
    background-color: lightgray;
    margin: 0;
}

header {
    background-color: white;
    margin-bottom: 25px;
}

h1 {
    margin: 0;
}

.centeredContent {
    width: 33%;
    margin:auto;
}

img {
    width: 100%;
}

.postContainer {
    background-color: white;
    margin-bottom: 25px;
}

.postHeaderContainer {
    display: flex;
}
.postHeaderContainer div {
    width: 50%;
}

.postHeaderDateContainer {
    text-align: right;
    color: gray;
}

.postHeaderDateContainer p {
    
    padding-right: 10px;
    padding-top: 7px;
}

.postHeaderTitleContainer {
    padding-left: 10px;
}
.postCommentContainer {
    padding: 5px 40px
}


